$titleColor: blue;

.Container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto 2rem;
}

.Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
  background: rgba(222, 241, 244, 0.4);
  margin: 1rem 5rem;

  &__Label {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  &__Dropdown {
    font-weight: normal;
    min-width: 10rem;
  }
}

.List {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
