.productInfo {
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    align-self: flex-start;
    font-weight: lighter;
    color: white;
}

.Container {
    display: flex;
    border: 0.1rem solid rgb(211,211,211);
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    min-height: 450px;
    width: 22%;

    &__Exclusive {
        @extend .productInfo;
        background-color: rgb(0, 153, 0)
    }

    &__Sale {
        @extend .productInfo;
        background-color: rgb(204, 51, 51);        
    }

    &__Details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.5rem;
        margin-top: auto;
        margin-bottom: 1.5rem;
        align-self: stretch;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        > span:first-child {
            flex-basis: 75%;
        }

        > span:last-child {
            flex-basis: 20%;
        }
    }
}
